[flake8]
ignore = E226, E704, W293, W504
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    ../autotune/benchmarks/dltk_problem.py,
    # Experiments and scratch files
    ../analysis,
    ../tests,

max-line-length = 120